<p>Name: <%=@pirate.name%></p>
<p>Weight: <%=@pirate.weight%></p>
<p>Height: <%=@pirate.height%></p>

<p><%=@ship[0].name%></p>
<p><%=@ship[0].type%></p>
<p><%=@ship[0].booty%></p>


<p><%=@ship[1].name%></p>
<p><%=@ship[1].type%></p>
<p><%=@ship[1].booty%></p>